# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
logs/
db.sqlite3
db.sqlite3-journal

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Django static/media
# =========================
staticfiles/
media/

# =========================
# Uploaded files
# =========================
uploads/

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node
# =========================
node_modules/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Redis
# =========================
*.rdb

# =========================
# Secrets / Certificates
# =========================
*.pem
*.key
*.crt
*.p12
*.pfx